// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2021 NXP
 */

/dts-v1/;
#include "fsl-s32g398a.dtsi"
#include "fsl-s32gxxxa-evb.dtsi"
/ {
	model = "Freescale S32G399A";
	compatible = "fsl,s32g399", "arm,vexpress";
};
