// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2023 NXP
 */

#include "s32g2xxa-evb3.dtsi"
#include "s32g-pfe-slave.dtsi"

&pfe_aux0 {
	status = "okay";
};

&pfesl_aux0 {
	status = "okay";
};

&pfe_hif3 {
	status = "okay";
};

&pfesl_hif0 {
	status = "okay";
};
