// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright 2022-2023 NXP
 */

#include "s32cc-nxp-flash-macronix.dtsi"

&macronix_memory {
	partitions {
		pfe@30a0000 {
			label = "PFE-Firmware";
			reg = <0x30a0000 0xf60000>;
		};
	};
};
