// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright 2022 NXP
 */

#include "s32cc-nxp-flash-macronix.dtsi"

&macronix_memory {
	partitions {
		pfe@3000000 {
			label = "PFE-Firmware";
			reg = <0x3000000 0x1000000>;
		};
	};
};
