// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Device Tree file for S32G274ARDB Board.
 *
 * Copyright 2019-2022 NXP
 *
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/s32g-pinctrl.h>
/ {
	chosen {
		stdout-path = "serial0:115200n8";
	};

	usbphynop: usbphynop {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
	};
};

&gmac0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gmac0_rgmii_a>, <&pinctrl_gmac0_mdio_a>;
	phy-handle = <&gmac_mdio_a_phy1>;
	phy-mode = "rgmii-id";
};

&gmac0_mdio {
	/* KSZ9031 GMAC */
	gmac_mdio_a_phy1: ethernet-phy@1 {
		reg = <1>;
	};
};

&pfe {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pfe2_mdio_b>,
		    <&pinctrl_pfe2_rgmii_b>;
};

&pfe_mdio0 {
	/* unused */
	status = "disabled";
};

&pfe_mdio1 {
	/* occupied by GMAC0 */
	status = "disabled";
};

&pfe_mdio2 {
	/* AR8035 */
	pfe_mdio_b_phy4: ethernet-phy@4 {
		reg = <4>;
	};
	/* SJA1110's phys: 0x09-0x0e */
};

&pfe_netif0 {
	phy-mode = "sgmii";
	fixed-link {
		speed = <2500>;
		full-duplex;
	};
};

&pfe_netif1 {
	phy-mode = "sgmii";
};

&pfe_netif2 {
	phy-mode = "rgmii-id";
	phy-handle = <&pfe_mdio_b_phy4>;
};

&generic_timer {
	clock-frequency = <5000000>;
};

&i2c0 {
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c0>;
	pinctrl-1 = <&pinctrl_i2c0_gpio>;
	scl-gpios = <&gpio 32 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio 31 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";

	pcal6524: gpio-expander@22 {
		compatible = "nxp,pcal6524";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	rtc@51 {
		compatible = "nxp,pca85073a";
		reg = <0x51>;
		nxp,no-battery;
	};
};

&i2c1 {
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1>;
	pinctrl-1 = <&pinctrl_i2c1_gpio>;
	scl-gpios = <&gpio 163 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio 165 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "disabled";
};

&i2c2 {
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c2>;
	pinctrl-1 = <&pinctrl_i2c2_gpio>;
	scl-gpios = <&gpio 21 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio 22 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";
};

&i2c4 {
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c4>;
	pinctrl-1 = <&pinctrl_i2c4_gpio>;
	scl-gpios = <&gpio 34 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio 33 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";
};

&gpio {
	sja1110-rst-phy-t1 {
		gpio-hog;
		gpios = <24 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "sja1110-rst-phy-t1";
	};

	sja1110-rst-core {
		gpio-hog;
		gpios = <81 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "sja1110-rst-core";
	};
};

&usdhc0 {
	status = "okay";
	no-1-8-v;
};

&can0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_can0>;
	status = "okay";
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_can1>;
	status = "okay";
};

&fccu {
	status = "okay";
};

&swt3 {
	status = "okay";
};

&swt4 {
	status = "okay";
};

&swt5 {
	status = "okay";
};

&swt6 {
	status = "okay";
};

&pit0 {
	status = "okay";
};

&pit1 {
	status = "okay";
};

&pinctrl {
	status = "okay";
	s32g274a-rdb {
		pinctrl_ftm1: ftm1grp {
			fsl,pins = <
				S32_GEN1_PAD_PF_00__FTM1_CH5_I
				S32_GEN1_PAD_PF_00__FTM1_CH5_O
			>;
		};

		pinctrl_can0: can0grp {
			fsl,pins = <
				S32_GEN1_PAD_PB01__CAN0_TXD
				S32_GEN1_PAD_PB02__CAN0_RXD_OUT
				S32_GEN1_PAD_PB02__CAN0_RXD_IN
			>;
		};

		pinctrl_can1: can1grp {
			fsl,pins = <
				S32_GEN1_PAD_PB03__CAN1_TXD
				S32_GEN1_PAD_PB04__CAN1_RXD_OUT
				S32_GEN1_PAD_PB04__CAN1_RXD_IN
			>;
		};

		pinctrl_can2: can2grp {
			fsl,pins = <
				S32_GEN1_PAD_PB11__CAN2_TXD
				S32_GEN1_PAD_PB12__CAN2_RXD_OUT
				S32_GEN1_PAD_PB12__CAN2_RXD_IN
			>;
		};

		pinctrl_can3: can3grp {
		       fsl,pins = <
				S32_GEN1_PAD_PB9__CAN3_TXD
				S32_GEN1_PAD_PB10__CAN3_RXD_OUT
				S32_GEN1_PAD_PB10__CAN3_RXD_IN
			   >;
		};

		pinctrl_dspi1: dspi1grp {
			fsl,pins = <
				S32_GEN1_PAD_PA6__SPI1_SOUT_OUT
				S32_GEN1_PAD_PA7__SPI1_CS0_OUT
				S32_GEN1_PAD_PA8__SPI1_SCK_OUT
				S32_GEN1_PAD_PF15__SPI1_SIN_OUT
				S32_GEN1_PAD_PF15__SPI1_SIN_IN
			>;
		};

		pinctrl_dspi1_slave: dspi1slavegrp {
			fsl,pins = <
				S32_GEN1_PAD_PA6__SPI1_SOUT_OUT
				S32_GEN1_PAD_PA7__SPI1_CS0_SLAVE_OUT
				S32_GEN1_PAD_PA7__SPI1_CS0_SLAVE_IN
				S32_GEN1_PAD_PA8__SPI1_SCK_SLAVE_OUT
				S32_GEN1_PAD_PA8__SPI1_SCK_SLAVE_IN
				S32_GEN1_PAD_PF15__SPI1_SIN_OUT
				S32_GEN1_PAD_PF15__SPI1_SIN_IN
			>;
		};

		pinctrl_dspi5: dspi5grp {
			fsl,pins = <
				S32_GEN1_PAD_PA9__SPI5_SCK_OUT
				S32_GEN1_PAD_PA10__SPI5_SIN_OUT
				S32_GEN1_PAD_PA10__SPI5_SIN_IN
				S32_GEN1_PAD_PA11__SPI5_SOUT_OUT
				S32_GEN1_PAD_PA12__SPI5_CS0_OUT
			>;
		};

		pinctrl_i2c0: i2c0grp {
			fsl,pins = <
				S32_GEN1_PAD_PB15__I2C0_DATA_OUT
				S32_GEN1_PAD_PB15__I2C0_DATA_IN
				S32_GEN1_PAD_PC0__I2C0_SCLK_OUT
				S32_GEN1_PAD_PC0__I2C0_SCLK_IN
			>;
		};

		pinctrl_i2c0_gpio: i2c0grp_gpio {
			fsl,pins = <
				S32_GEN1_PAD_PB15__I2C0_DATA_GPIO
				S32_GEN1_PAD_PB15__DISABLED_IN
				S32_GEN1_PAD_PC0__I2C0_SCLK_GPIO
				S32_GEN1_PAD_PC0__DISABLED_IN
			>;
		};

		pinctrl_i2c2: i2c2grp {
			fsl,pins = <
				S32_GEN1_PAD_PB5__I2C2_SCLK_OUT
				S32_GEN1_PAD_PB5__I2C2_SCLK_IN
				S32_GEN1_PAD_PB6__I2C2_DATA_OUT
				S32_GEN1_PAD_PB6__I2C2_DATA_IN
			>;
		};

		pinctrl_i2c2_gpio: i2c2grp_gpio {
			fsl,pins = <
				S32_GEN1_PAD_PB5__DISABLED_IN
				S32_GEN1_PAD_PB5__I2C2_SCLK_GPIO
				S32_GEN1_PAD_PB6__DISABLED_IN
				S32_GEN1_PAD_PB6__I2C2_DATA_GPIO
			>;
		};

		pinctrl_i2c4: i2c4grp {
			fsl,pins = <
				S32_GEN1_PAD_PC1__I2C4_DATA_OUT
				S32_GEN1_PAD_PC1__I2C4_DATA_IN
				S32_GEN1_PAD_PC2__I2C4_SCLK_OUT
				S32_GEN1_PAD_PC2__I2C4_SCLK_IN
			>;
		};

		pinctrl_i2c4_gpio: i2c4grp_gpio {
			fsl,pins = <
				S32_GEN1_PAD_PC1__I2C4_DATA_GPIO
				S32_GEN1_PAD_PC1__DISABLED_IN
				S32_GEN1_PAD_PC2__I2C4_SCLK_GPIO
				S32_GEN1_PAD_PC2__DISABLED_IN
			>;
		};

		pinctrl_usbotg: usbotggrp {
		       fsl,pins = <
				S32_GEN1_PAD_PD14__USB_ULPI_DATA_I0_IN
				S32_GEN1_PAD_PD14__USB_ULPI_DATA_O0
				S32_GEN1_PAD_PD15__USB_ULPI_DATA_I1_IN
				S32_GEN1_PAD_PD15__USB_ULPI_DATA_O1
				S32_GEN1_PAD_PE0__USB_ULPI_DATA_I2_IN
				S32_GEN1_PAD_PE0__USB_ULPI_DATA_O2
				S32_GEN1_PAD_PE1__USB_ULPI_DATA_I3_IN
				S32_GEN1_PAD_PE1__USB_ULPI_DATA_O3
				S32_GEN1_PAD_PL12__USB_ULPI_DATA_O4
				S32_GEN1_PAD_PL12__USB_ULPI_DATA_I4_IN
				S32_GEN1_PAD_PL13__USB_ULPI_DATA_O5
				S32_GEN1_PAD_PL13__USB_ULPI_DATA_I5_IN
				S32_GEN1_PAD_PL14__USB_ULPI_DATA_O6
				S32_GEN1_PAD_PL14__USB_ULPI_DATA_I6_IN
				S32_GEN1_PAD_PH0__USB_ULPI_DATA_O7
				S32_GEN1_PAD_PH0__USB_ULPI_DATA_I7_IN
				S32_GEN1_PAD_PL8__USB_ULPI_CLK_OUT
				S32_GEN1_PAD_PL8__USB_ULPI_CLK_IN
				S32_GEN1_PAD_PL9__USB_ULPI_DIR_OUT
				S32_GEN1_PAD_PL9__USB_ULPI_DIR_IN
				S32_GEN1_PAD_PL10__USB_ULPI_STP
				S32_GEN1_PAD_PL11__USB_ULPI_NXT_OUT
				S32_GEN1_PAD_PL11__USB_ULPI_NXT_IN
			   >;
		};

		pinctrl_gmac0_mdio_a: gmac0mdioagrp {
			fsl,pins = <
				S32_GEN1_PAD_PD12__GMAC0_MDC
				S32_GEN1_PAD_PD13__GMAC0_MDIO_OUT
				S32_GEN1_PAD_PD13__GMAC0_MDIO_IN
			>;
		};

		pinctrl_gmac0_rgmii_a: gmac0rgmiiagrp {
			fsl,pins = <
				S32_GEN1_PAD_PE2__GMAC0_TXCLK_OUT
				S32_GEN1_PAD_PE2__GMAC0_TXCLK_IN
				S32_GEN1_PAD_PE3__GMAC0_TX_EN_OUT
				S32_GEN1_PAD_PE4__GMAC0_TX_D0_OUT
				S32_GEN1_PAD_PE5__GMAC0_TX_D1_OUT
				S32_GEN1_PAD_PE6__GMAC0_TX_D2_OUT
				S32_GEN1_PAD_PE7__GMAC0_TX_D3_OUT
				S32_GEN1_PAD_PE8__GMAC0_RXCLK_OUT
				S32_GEN1_PAD_PE8__GMAC0_RXCLK_IN
				S32_GEN1_PAD_PE9__GMAC0_RX_DV_OUT
				S32_GEN1_PAD_PE9__GMAC0_RX_DV_IN
				S32_GEN1_PAD_PE10__GMAC0_RX_D0_OUT
				S32_GEN1_PAD_PE10__GMAC0_RX_D0_IN
				S32_GEN1_PAD_PE11__GMAC0_RX_D1_OUT
				S32_GEN1_PAD_PE11__GMAC0_RX_D1_IN
				S32_GEN1_PAD_PE12__GMAC0_RX_D2_OUT
				S32_GEN1_PAD_PE12__GMAC0_RX_D2_IN
				S32_GEN1_PAD_PE13__GMAC0_RX_D3_OUT
				S32_GEN1_PAD_PE13__GMAC0_RX_D3_IN
			>;

		};

		pinctrl_pfe2_mdio_b: pfe2mdiobgrp {
			fsl,pins = <
				S32_G274_PAD_PF2__PFE2_MDC
				S32_G274_PAD_PE15__PFE2_MDIO_OUT
				S32_G274_PAD_PE15__PFE2_MDIO_IN
			>;
		};

		pinctrl_pfe2_rgmii_b: pfe2rgmiibgrp {
			fsl,pins = <
				S32_G274_PAD_PE14__PFE2_TX_EN_OUT
				S32_G274_PAD_PJ0__PFE2_TX_D0_OUT
				S32_G274_PAD_PH1__PFE2_TX_D1_OUT
				S32_G274_PAD_PH2__PFE2_TX_D2_OUT
				S32_G274_PAD_PH3__PFE2_TX_D3_OUT
				S32_G274_PAD_PH4__PFE2_RXCLK_OUT
				S32_G274_PAD_PH4__PFE2_RXCLK_IN
				S32_G274_PAD_PH5__PFE2_RX_DV_OUT
				S32_G274_PAD_PH5__PFE2_RX_DV_IN
				S32_G274_PAD_PH6__PFE2_RX_D0_OUT
				S32_G274_PAD_PH6__PFE2_RX_D0_IN
				S32_G274_PAD_PH7__PFE2_RX_D1_OUT
				S32_G274_PAD_PH7__PFE2_RX_D1_IN
				S32_G274_PAD_PH8__PFE2_RX_D2_OUT
				S32_G274_PAD_PH8__PFE2_RX_D2_IN
				S32_G274_PAD_PH9__PFE2_RX_D3_OUT
				S32_G274_PAD_PH9__PFE2_RX_D3_IN
				S32_G274_PAD_PH10__PFE2_TXCLK_OUT
				S32_G274_PAD_PH10__PFE2_TXCLK_IN
			>;
		};

		pinctrl_ftm0: ftm0grp {
			fsl,pins = <
				S32_GEN1_PAD_PK_07__FTM0_CH0_O
				S32_GEN1_PAD_PK_07__FTM0_CH0_I
			>;
		};

		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				S32_GEN1_PAD_PK3__I2C1_SCLK_OUT
				S32_GEN1_PAD_PK5__I2C1_DATA_OUT
				S32_GEN1_PAD_PK3__I2C1_SCLK_IN
				S32_GEN1_PAD_PK5__I2C1_DATA_IN
			>;
		};

		pinctrl_i2c1_gpio: i2c1grp_gpio {
			fsl,pins = <
				S32_GEN1_PAD_PK3__I2C1_SCLK_GPIO
				S32_GEN1_PAD_PK5__I2C1_DATA_GPIO
				S32_GEN1_PAD_PK3__DISABLED_IN
				S32_GEN1_PAD_PK5__DISABLED_IN
			>;
		};
	};
};

&edma0 {
	status = "okay";
};

&edma1 {
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&pinctrl_dspi1>;
	pinctrl-1 = <&pinctrl_dspi1_slave>;
	pinctrl-names = "default", "slave";
	status = "okay";
};

&spi5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_dspi5>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	/* 1 hardware cs and 1 gpio cs*/
	spi-num-chipselects = <1>;
	cs-gpios = <0>, <&gpio 30 0>;

	sja1110-uc@0 {
		compatible = "nxp,sja1110-uc";
		spi-max-frequency = <5000000>;
		fsl,spi-cs-sck-delay = <50>;
		fsl,spi-sck-cs-delay = <50>;
		reg = <0>;
	};

	sja1110-sw@1 {
		compatible = "nxp,sja1110-switch";
		spi-max-frequency = <5000000>;
		fsl,spi-cs-sck-delay = <50>;
		fsl,spi-sck-cs-delay = <50>;
		reg = <1>;
	};
};

&usbmisc {
	status = "okay";
};

&usbotg {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	fsl,usbphy = <&usbphynop>;
	status = "okay";
};

&qspi {
	status = "okay";

	mx25uw51245g@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <200000000>;
		spi-tx-bus-width = <8>;
		spi-rx-bus-width = <8>;
		reg = <0>;
	};
};

&pcie0 {
	status = "okay";
};

&pcie1 {
	status = "okay";
};

&pwm0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ftm0>;
	status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ftm1>;
	status = "okay";
};

&gpio {
	status = "okay";
};

&llce_dte_sram {
	status = "okay";
};

&llce_ppe_rx_sram {
	status = "okay";
};

&llce_ppe_tx_sram {
	status = "okay";
};

&llce_frpe_sram {
	status = "okay";
};

&llce_shmem {
	status = "okay";
};

&llce_boot_status {
	status = "okay";
};

&llce_can0 {
	status = "okay";
};

&llce_can1 {
	status = "okay";
};

&llce_can2 {
	status = "okay";
};

&llce_can3 {
	status = "okay";
};

&llce_can4 {
	status = "okay";
};

&llce_can5 {
	status = "okay";
};

&llce_can6 {
	status = "okay";
};

&llce_can7 {
	status = "okay";
};

&llce_can8 {
	status = "okay";
};

&llce_can9 {
	status = "okay";
};

&llce_can10 {
	status = "okay";
};

&llce_can11 {
	status = "okay";
};

&llce_can13 {
	status = "okay";
};

&llce_can14 {
	status = "okay";
};

&llce_can15 {
	status = "okay";
};
