// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Device Tree file for S32G-PROCEVB with S32G3 + S32RGV-VNP-PLAT boards
 * PFE Master/Slave mode supported
 *
 * Copyright 2022 NXP
 */

#include "s32g3xxa-evb.dtsi"
#include "s32g-pfe-slave.dtsi"

&pfe_reserved_slave {
	status = "okay";
};

&pfe_reserved_bdr_slave {
	status = "okay";
};

&pfe_aux0 {
	status = "okay";
};

&pfesl_aux0 {
	status = "okay";
};
