// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2020-2022 NXP
 */

/dts-v1/;
#include "s32g2.dtsi"

/ {
	model = "NXP S32G274A BlueBox3";

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&generic_timer {
	clock-frequency = <5000000>;
};

&usdhc0 {
	status = "okay";
};

&stm0 {
	status = "okay";
};

&stm1 {
	status = "okay";
};

&stm2 {
	status = "okay";
};

&swt3 {
	status = "okay";
};

&swt4 {
	status = "okay";
};

&swt5 {
	status = "okay";
};

&swt6 {
	status = "okay";
};
