/*
 * Copyright 2019-2022 NXP
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;
#include "s32r45.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "NXP S32R458-EVB";

	aliases {
		gmac0 = &gmac0;
		gmac1 = &gmac1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&generic_timer {
	clock-frequency = <5000000>;
};

&i2c0 {
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-1 = <&i2c0_gpio_pins>;
	scl-gpios = <&gpio 17 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio 16 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";
};

&i2c1 {
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-1 = <&i2c1_gpio_pins>;
	scl-gpios = <&gpio 14 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio 15 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";
};

&can0 {
	pinctrl-names = "default";
	pinctrl-0 = <&can0_pins>;
	status = "okay";
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&can1_pins>;
	status = "okay";
};

&can2 {
	pinctrl-names = "default";
	pinctrl-0 = <&can2_pins>;
	status = "okay";
};

&can3 {
	pinctrl-names = "default";
	pinctrl-0 = <&can3_pins>;
	status = "okay";
};

&can4 {
	pinctrl-names = "default";
	pinctrl-0 = <&can4_pins>;
};

&can5 {
	pinctrl-names = "default";
	pinctrl-0 =  <&can5_pins>;
	status = "okay";
};

&can6 {
	pinctrl-names = "default";
	pinctrl-0 =  <&can6_pins>;
};

&can7 {
	pinctrl-names = "default";
	pinctrl-0 =  <&can7_pins>;
	status = "okay";
};

&fccu {
	status = "okay";
};

&swt3 {
	status = "okay";
};

&swt4 {
	status = "okay";
};

&swt5 {
	status = "okay";
};

&swt6 {
	status = "okay";
};

&pit0 {
	status = "okay";
};

&pit1 {
	status = "okay";
};

&pinctrl {
	status = "okay";
	can0_pins: can0 {
		can0_grp {
			fsl,pins = <
				S32_GEN1_PAD_PC12__CAN0_TXD
				S32_GEN1_PAD_PC11__CAN0_RXD_OUT
				S32_GEN1_PAD_PC11__CAN0_RXD_IN
			>;
		};
	};

	can1_pins: can1 {
		can1_grp {
			fsl,pins = <
				S32_GEN1_PAD_PD14__CAN1_TXD
				S32_GEN1_PAD_PA7__CAN1_RXD_OUT
				S32_GEN1_PAD_PA7__CAN1_RXD_IN
			>;
		};
	};

	can2_pins: can2 {
		can2_grp {
			fsl,pins = <
				S32_GEN1_PAD_PB03__CAN2_TXD
				S32_GEN1_PAD_PJ12__CAN2_RXD_OUT
				S32_GEN1_PAD_PJ12__CAN2_RXD_IN
			>;
		};
	};

	can3_pins: can3 {
		can3_grp {
			fsl,pins = <
				S32_GEN1_PAD_PJ7__CAN3_RXD_OUT
				S32_GEN1_PAD_PJ7__CAN3_RXD_IN
				S32_GEN1_PAD_PB2__CAN3_TXD
			>;
		};
	};

	can5_pins: can5 {
		can5_grp {
			fsl,pins = <
				S32_GEN1_PAD_PJ0__CAN5_RXD_OUT
				S32_GEN1_PAD_PJ0__CAN5_RXD_IN
				S32_GEN1_PAD_PC2__CAN5_TXD
			>;
		};
	};

	i2c0_pins: i2c0 {
		i2c0_grp {
			fsl,pins = <
				S32_GEN1_PAD_PB0__I2C0_DATA_OUT
				S32_GEN1_PAD_PB1__I2C0_SCLK_OUT
				S32_GEN1_PAD_PB0__I2C0_DATA_IN
				S32_GEN1_PAD_PB1__I2C0_SCLK_IN
			>;
		};
	};

	i2c0_gpio_pins: i2c0_gpio {
		i2c0_gpio_grp {
			fsl,pins = <
				S32_GEN1_PAD_PB0__I2C0_DATA_GPIO
				S32_GEN1_PAD_PB1__I2C0_SCLK_GPIO
				S32_GEN1_PAD_PB0__DISABLED_IN
				S32_GEN1_PAD_PB1__DISABLED_IN
			>;
		};
	};

	i2c1_pins: i2c1 {
		i2c1_grp {
			fsl,pins = <
				S32_GEN1_PAD_PA14__I2C1_SCLK_IN
				S32_GEN1_PAD_PA14__I2C1_SCLK_OUT
				S32_GEN1_PAD_PA15__I2C1_DATA_IN
				S32_GEN1_PAD_PA15__I2C1_DATA_OUT
			>;
		};
	};

	i2c1_gpio_pins: i2c1_gpio {
		i2c1_gpio_grp {
			fsl,pins = <
				S32_GEN1_PAD_PA14__DISABLED_IN
				S32_GEN1_PAD_PA14__I2C1_SCLK_GPIO
				S32_GEN1_PAD_PA15__DISABLED_IN
				S32_GEN1_PAD_PA15__I2C1_DATA_GPIO
			>;
		};
	};

	qspi_pins: qspi {
		qspi_grp {
				fsl,pins = <
					S32_GEN1_PAD_PF13__QSPI_A_DQS_OUT
					S32_GEN1_PAD_PF13__QSPI_A_DQS_IN
					S32_GEN1_PAD_PG4__QSPI_A_CS0
					S32_GEN1_PAD_PG5__QSPI_A_CS1
					S32_GEN1_PAD_PF5__QSPI_A_DATA0_IN
					S32_GEN1_PAD_PF5__QSPI_A_DATA0_OUT
					S32_GEN1_PAD_PF6__QSPI_A_DATA1_IN
					S32_GEN1_PAD_PF6__QSPI_A_DATA1_OUT
					S32_GEN1_PAD_PF7__QSPI_A_DATA2_IN
					S32_GEN1_PAD_PF7__QSPI_A_DATA2_OUT
					S32_GEN1_PAD_PF8__QSPI_A_DATA3_IN
					S32_GEN1_PAD_PF8__QSPI_A_DATA3_OUT
					S32_GEN1_PAD_PF9__QSPI_A_DATA4_IN
					S32_GEN1_PAD_PF9__QSPI_A_DATA4_OUT
					S32_GEN1_PAD_PF10__QSPI_A_DATA5_IN
					S32_GEN1_PAD_PF10__QSPI_A_DATA5_OUT
					S32_GEN1_PAD_PF11__QSPI_A_DATA6_IN
					S32_GEN1_PAD_PF11__QSPI_A_DATA6_OUT
					S32_GEN1_PAD_PF12__QSPI_A_DATA7_IN
					S32_GEN1_PAD_PF12__QSPI_A_DATA7_OUT
					S32_GEN1_PAD_PG0__QSPI_A_SCK
					S32_GEN1_PAD_PG1__QSPI_A_B_SCK
					S32_GEN1_PAD_PG2__QSPI_A_SCK2
					S32_GEN1_PAD_PG3__QSPI_A_B_SCK2
				>;
		};
	};

	dspi1_pins: dspi1 {
		dspi1_grp {
			fsl,pins = <
				S32_GEN1_PAD_PB6__SPI1_SOUT_OUT
				S32_GEN1_PAD_PB5__SPI1_SIN_OUT
				S32_GEN1_PAD_PB5__SPI1_SIN_IN
				S32_GEN1_PAD_PB4__SPI1_SCK_OUT
				S32_GEN1_PAD_PB7__SPI1_CS0_OUT
				S32_GEN1_PAD_PB8__SPI1_CS1_OUT
			>;
		};
	};

	dspi2_pins: dspi2 {
		dspi2_grp {
			fsl,pins = <
				S32_GEN1_PAD_PB13__SPI2_SOUT_OUT
				S32_GEN1_PAD_PC01__SPI2_SIN_OUT
				S32_GEN1_PAD_PC01__SPI2_SIN_IN
				S32_GEN1_PAD_PB11__SPI2_SCK_OUT
				S32_GEN1_PAD_PB14__SPI2_CS0_OUT
				S32_GEN1_PAD_PB15__SPI2_CS1_OUT
			>;
		};
	};

	dspi3_pins: dspi3 {
		dspi3_grp {
			fsl,pins = <
				S32_GEN1_PAD_PC13__SPI3_SOUT_OUT
				S32_GEN1_PAD_PC6__SPI3_SIN_OUT
				S32_GEN1_PAD_PC6__SPI3_SIN_IN
				S32_GEN1_PAD_PC4__SPI3_SCK_OUT
				S32_GEN1_PAD_PC7__SPI3_CS0_OUT
				S32_GEN1_PAD_PC8__SPI3_CS1_OUT
			>;
		};
	};

	mdio2_pins: mdio2 {
		mdio2_grp {
			fsl,pins = <
				S32_GEN1_PAD_PD12__MDC
				S32_GEN1_PAD_PD13__MDIO_OUT
				S32_GEN1_PAD_PD13__MDIO_IN
			>;
		};
	};

	rgmii2_pins: rgmii2 {
		rgmii2_grp {
			fsl,pins = <
				S32_GEN1_PAD_PE2__TXCLK_OUT
				S32_GEN1_PAD_PE2__TXCLK_IN
				S32_GEN1_PAD_PE3__TX_EN_OUT
				S32_GEN1_PAD_PE4__TX_D0_OUT
				S32_GEN1_PAD_PE5__TX_D1_OUT
				S32_GEN1_PAD_PE6__TX_D2_OUT
				S32_GEN1_PAD_PE7__TX_D3_OUT
				S32_GEN1_PAD_PE8__RXCLK_OUT
				S32_GEN1_PAD_PE8__RXCLK_IN
				S32_GEN1_PAD_PE9__RX_DV_OUT
				S32_GEN1_PAD_PE9__RX_DV_IN
				S32_GEN1_PAD_PE10__RX_D0_OUT
				S32_GEN1_PAD_PE10__RX_D0_IN
				S32_GEN1_PAD_PE11__RX_D1_OUT
				S32_GEN1_PAD_PE11__RX_D1_IN
				S32_GEN1_PAD_PE12__RX_D2_OUT
				S32_GEN1_PAD_PE12__RX_D2_IN
				S32_GEN1_PAD_PE13__RX_D3_OUT
				S32_GEN1_PAD_PE13__RX_D3_IN
			>;
		};
	};

	can4_pins: can4 {
		can4_grp {
			fsl,pins = <
				S32_GEN1_PAD_PJ9__CAN4_TXD
				S32_GEN1_PAD_PH7__CAN4_RXD_OUT
				S32_GEN1_PAD_PH7__CAN4_RXD_IN
			>;
		};
	};

	can6_pins: can6 {
		can6_grp {
			fsl,pins = <
				S32_GEN1_PAD_PH6__CAN6_TXD
				S32_GEN1_PAD_PH8__CAN6_RXD_OUT
				S32_GEN1_PAD_PH8__CAN6_RXD_IN
			>;
		};
	};

	can7_pins: can7 {
		can7_grp {
			fsl,pins = <
				S32_GEN1_PAD_PJ8__CAN7_TXD
				S32_GEN1_PAD_PJ11__CAN7_RXD_OUT
				S32_GEN1_PAD_PJ11__CAN7_RXD_IN
			>;
		};
	};

	mdio3_pins: mdio3 {
		mdio3_grp {
			fsl,pins = <
				S32_GEN1_PAD_PH6__MDC
				S32_GEN1_PAD_PH7__MDIO_OUT
				S32_GEN1_PAD_PH7__MDIO_IN
			>;
		};
	};

	dspi5_pins: dspi5 {
		dspi5_grp {
			fsl,pins = <
				S32_GEN1_PAD_PK05__SPI5_SOUT_OUT
				S32_GEN1_PAD_PK04__SPI5_SIN_OUT
				S32_GEN1_PAD_PK04__SPI5_SIN_IN
				S32_GEN1_PAD_PK00__SPI5_SCK_OUT
				S32_GEN1_PAD_PK03__SPI5_CS0_OUT
			>;
		};
	};
};

&edma0 {
	status = "okay";
};

&edma1 {
	status = "okay";
};

&spi0 {
	status = "okay";
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&dspi1_pins>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	spidev10: spidev@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <10000000>;
		reg = <0>;
		fsl,spi-cs-sck-delay = <100>;
		fsl,spi-sck-cs-delay = <100>;
	};

	spidev11: spidev@1 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <10000000>;
		reg = <1>;
		fsl,spi-cs-sck-delay = <100>;
		fsl,spi-sck-cs-delay = <100>;
	};
};

&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&dspi2_pins>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	spidev20: spidev@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <10000000>;
		reg = <0>;
		fsl,spi-cs-sck-delay = <100>;
		fsl,spi-sck-cs-delay = <100>;
	};

	spidev21: spidev@1 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <10000000>;
		reg = <1>;
		fsl,spi-cs-sck-delay = <100>;
		fsl,spi-sck-cs-delay = <100>;
	};
};

&spi3 {
	pinctrl-names = "default";
	pinctrl-0 = <&dspi3_pins>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	spidev3: spidev@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <4000000>;
		reg = <0>;
		fsl,spi-cs-sck-delay = <100>;
		fsl,spi-sck-cs-delay = <100>;
	};
};

&spi5 {
	pinctrl-names = "default";
	pinctrl-0 =  <&dspi5_pins>;
	status = "okay";
};

&usdhc0 {
	no-1-8-v;
	status = "okay";
};

&qspi {
	pinctrl-names = "default";
	pinctrl-0 = <&qspi_pins>;
	status = "okay";

	mx25uw51245g@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <133333333>;
		spi-tx-bus-width = <8>;
		spi-rx-bus-width = <8>;
		spi-no-functional-reset;
		reg = <0>;
	};
};

&gmac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii2_pins>, <&mdio2_pins>;
	phy-mode = "rgmii-id";
	phy-handle = <&gmac0_phy1>;
	status = "okay";
};

&gmac0_mdio {
	/* KSZ9031RNXCA on S32R-VNP-PROC */
	gmac0_phy1: ethernet-phy@1 {
		reg = <1>;
	};
};

&gmac1 {
	pinctrl-names = "default";
	phy-mode = "sgmii";
	status = "disabled";
	pinctrl-0 = <&mdio3_pins>;
	phy-handle = <&gmac1_phy1>;
};

&gmac1_mdio {
	/* AQR107 on S32GRV-PLATEVB */
	gmac1_phy1: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <1>;
	};
};
