# SPDX-License-Identifier: GPL-2.0-only
menuconfig CAN_LLCE
	select NXP_LLCE_MBOX
	select LLCE_CORE
	depends on CAN_DEV && m
	bool "NXP LLCE CAN support"
	help
	  Say Y here if you want support for NXP LLCE CAN drivers.
	  This is common support for devices that embed the NXP LLCE CAN IP.

	  If unsure choose N.

if CAN_LLCE

config CAN_LLCE_CORE
	bool
	help
	  This driver is used on S32G2 and S32G3 platforms to manage the
	  filters for the incoming messages that can be offloaded in hardware
	  and the traffic routed between the LLCE CAN interfaces. Filter
	  configuration and routing control can be perfomed through procfs files.

config CAN_LLCE_CONTROLLER
	tristate "LLCE CAN"
	select CAN_LLCE_CORE
	depends on m
	help
	  Driver for CAN interface of the NXP LLCE accelerator. The CAN
	  interface is one of the offloaded communication channels of the
	  Low Latency Communication Engine. The hardware channels abstract
	  the communication that is fully supported through a
	  firmware-defined host interface.

config CAN_LLCE_LOGGER
	tristate "LLCE CAN Logger"
	select CAN_LLCE_CORE
	depends on m
	help
	  This driver is used on S32G2/S32G3 to log CAN messages received from
	  LLCE. It provides to user space as a virtual can (vcan) interface,
	  on which you can listen to receive the RX traffic associated with its
	  LLCE CAN counterpart.
	  Separate LLCE configuration for CAN is expected.

	  It assumes that the LLCE Firmware is already loaded.

endif
